<div ng-controller="LoginController">

<form role="form">

  <div class="form-group">
    <label for="name">Email</label>
    <input type="text" class="form-control" id="email" ng-model="user.email" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="address1" ng-model="user.password" placeholder="Enter Password">[[message]]
  </div>
	

  <button type="submit" class="btn btn-default" ng-click="login(user)">Login</button>
</form>
</div>